<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<integer>0</integer>
	<key>params</key>
	<dict/>
	<key>vcName</key>
	<string></string>
	<key>url</key>
	<string></string>
	<key>iconName</key>
	<string></string>
	<key>pluginId</key>
	<string></string>
	<key>pluginName</key>
	<string></string>
	<key>subNode</key>
	<array>
		<dict>
			<key>formConfigName</key>
			<string></string>
			<key>type</key>
			<integer>3</integer>
			<key>subnNode</key>
			<array/>
			<key>pluginName</key>
			<string>FLEX</string>
			<key>iconName</key>
			<string>FFAssistiveTouch.bundle/FLEX</string>
			<key>pluginId</key>
			<string>3</string>
			<key>vcName</key>
			<string>FLEX</string>
			<key>url</key>
			<string></string>
			<key>hasSub</key>
			<false/>
			<key>params</key>
			<dict/>
		</dict>
		<dict>
			<key>formConfigName</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>subnNode</key>
			<array/>
			<key>pluginName</key>
			<string>日志</string>
			<key>iconName</key>
			<string>FFAssistiveTouch.bundle/log</string>
			<key>pluginId</key>
			<string>1</string>
			<key>vcName</key>
			<string></string>
			<key>url</key>
			<string>log</string>
			<key>hasSub</key>
			<false/>
			<key>params</key>
			<dict/>
		</dict>
		<dict>
			<key>formConfigName</key>
			<string></string>
			<key>type</key>
			<integer>2</integer>
			<key>subnNode</key>
			<array/>
			<key>pluginName</key>
			<string>环境配置</string>
			<key>iconName</key>
			<string>FFAssistiveTouch.bundle/debugOption</string>
			<key>pluginId</key>
			<string>2</string>
			<key>vcName</key>
			<string>TestSpecailViewController</string>
			<key>url</key>
			<string>FF_DEBUG_VC_KEY</string>
			<key>hasSub</key>
			<false/>
			<key>params</key>
			<dict/>
		</dict>
		<dict>
			<key>formConfigName</key>
			<string></string>
			<key>type</key>
			<integer>7</integer>
			<key>subNode</key>
			<array>
				<dict>
					<key>type</key>
					<integer>10</integer>
					<key>subnNode</key>
					<array/>
					<key>pluginName</key>
					<string>内存</string>
					<key>iconName</key>
					<string>FFAssistiveTouch.bundle/heap</string>
					<key>pluginId</key>
					<string>10</string>
					<key>vcName</key>
					<string>Memory</string>
					<key>url</key>
					<string></string>
					<key>hasSub</key>
					<false/>
					<key>params</key>
					<dict/>
				</dict>
				<dict>
					<key>type</key>
					<integer>8</integer>
					<key>subnNode</key>
					<array/>
					<key>pluginName</key>
					<string>帧率</string>
					<key>iconName</key>
					<string>FFAssistiveTouch.bundle/frame</string>
					<key>pluginId</key>
					<string>8</string>
					<key>vcName</key>
					<string>FPS</string>
					<key>url</key>
					<string></string>
					<key>hasSub</key>
					<false/>
					<key>params</key>
					<dict/>
				</dict>
				<dict>
					<key>type</key>
					<integer>9</integer>
					<key>subnNode</key>
					<array/>
					<key>pluginName</key>
					<string>CPU</string>
					<key>iconName</key>
					<string>FFAssistiveTouch.bundle/CPU</string>
					<key>pluginId</key>
					<string>9</string>
					<key>vcName</key>
					<string>CPU</string>
					<key>url</key>
					<string></string>
					<key>hasSub</key>
					<false/>
					<key>params</key>
					<dict/>
				</dict>
				<dict>
					<key>type</key>
					<integer>11</integer>
					<key>subnNode</key>
					<array/>
					<key>pluginName</key>
					<string>崩溃信息</string>
					<key>iconName</key>
					<string>FFAssistiveTouch.bundle/memory</string>
					<key>pluginId</key>
					<string>11</string>
					<key>vcName</key>
					<string>CrashHist</string>
					<key>url</key>
					<string></string>
					<key>hasSub</key>
					<false/>
					<key>params</key>
					<dict/>
				</dict>
			</array>
			<key>pluginName</key>
			<string>性能</string>
			<key>iconName</key>
			<string>FFAssistiveTouch.bundle/performance</string>
			<key>pluginId</key>
			<string>7</string>
			<key>vcName</key>
			<string>Performance</string>
			<key>url</key>
			<string></string>
			<key>hasSub</key>
			<true/>
			<key>params</key>
			<dict/>
		</dict>
		<dict>
			<key>formConfigName</key>
			<string></string>
			<key>type</key>
			<integer>4</integer>
			<key>subNode</key>
			<array>
				<dict>
					<key>type</key>
					<integer>6</integer>
					<key>subnNode</key>
					<array/>
					<key>pluginName</key>
					<string>边框</string>
					<key>iconName</key>
					<string>FFAssistiveTouch.bundle/border.png</string>
					<key>pluginId</key>
					<string>6</string>
					<key>vcName</key>
					<string>Border</string>
					<key>url</key>
					<string></string>
					<key>hasSub</key>
					<false/>
					<key>params</key>
					<dict/>
				</dict>
				<dict>
					<key>type</key>
					<integer>5</integer>
					<key>subnNode</key>
					<array/>
					<key>pluginName</key>
					<string>吸颜色</string>
					<key>iconName</key>
					<string>FFAssistiveTouch.bundle/straw</string>
					<key>pluginId</key>
					<string>5</string>
					<key>vcName</key>
					<string>Magnify</string>
					<key>url</key>
					<string></string>
					<key>hasSub</key>
					<false/>
					<key>params</key>
					<dict/>
				</dict>
			</array>
			<key>pluginName</key>
			<string>Tool</string>
			<key>iconName</key>
			<string>FFAssistiveTouch.bundle/vision</string>
			<key>pluginId</key>
			<string>4</string>
			<key>vcName</key>
			<string>Tool</string>
			<key>url</key>
			<string></string>
			<key>hasSub</key>
			<true/>
			<key>params</key>
			<dict/>
		</dict>
		<dict>
			<key>formConfigName</key>
			<string></string>
			<key>type</key>
			<integer>100</integer>
			<key>subNode</key>
			<array/>
			<key>pluginName</key>
			<string>刷新</string>
			<key>iconName</key>
			<string>FFAssistiveTouch.bundle/refresh</string>
			<key>pluginId</key>
			<string>4</string>
			<key>vcName</key>
			<string>CloseAll</string>
			<key>url</key>
			<string></string>
			<key>hasSub</key>
			<false/>
			<key>params</key>
			<dict/>
		</dict>
	</array>
	<key>hasSub</key>
	<true/>
</dict>
</plist>
